.App {
  text-align: center;
  background-color: #FFFFFF;
}

.box {
  background-color: white;
  border: 3px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}


h1 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 25px;
  margin-top: 35px;
  margin-bottom: 35px;
}
h5 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
}